/*最外层的容器*/
.jd_container {
    width:100%;
    background-color: #eee;
    /*min-width: 240px;*/
}

/*顶部通栏*/
.jd_header{
    height:40px;
    width:100%;
    background-color: rgb(201,21,35);
    position: relative;

    /*设置pading将input挤进去*/
    padding-left: 70px;
    padding-right: 60px;
}
.jd_header .header_logo{
    width:60px;
    height:36px;
    position: absolute;
    left:5px;
    top:2px;
    /*background-color: orange;*/

    /*设置背景图片*/
    background-image: url('../images/sprites.png');
    background-repeat:no-repeat;
    background-position: 0-103px;

    /*设置背景图片的大小，压缩了一倍，目的是为了防止用户看到像素颗粒*/
    -webkit-background-size:200px 200px;
    background-size:200px 200px;
}

/*搜索图标*/
.jd_header .header_glass{
    width: 20px;
    height: 20px;
    /*absolute绝对定位，relative相对定位*/
    position: absolute;
    background-image: url('../images/sprites.png');
    background-size:200px 200px;
    background-position: -60px -109px;
    background-repeat: no-repeat;
    left: 75px;
    top: 10px;
}

/*搜索框*/
.jd_header .header_search{
    width:100%;
    height:30px;
    margin-top: 5px;
    /*变成圆角矩形*/
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    /*内容挤到右边，给搜索图标留出空间*/
    padding-left: 25px;
    }
/*登录字样*/
.jd_header .header_login{
    position: absolute;
    right: 10px;
    top: 0px;
    line-height: 40px;
    color:white;
    font-size: 17px;
}

/*顶部轮播图*/
.jd_banner{
    width: 100%;
    /*100px*/
    overflow: hidden;
    /*为了索引能够定位，所以添加position*/
    position: relative;

}

.jd_banner .banner_images{
    /*10倍宽度，为了在横向放10张图片*/
    width: 1000%;
}
.jd_banner .banner_images li{
    float: left;
    /*100px*/
    width: 10%;
}

.jd_banner .banner_images li a{
    /*	此元素将显示为块级元素，此元素前后会带有换行符。*/
    display: block;
    width: 100%;
}

.jd_banner .banner_images li a img{
    display: block;
    width: 100%;
    /*都是100%所以都是一样大，恰好占满屏幕*/
}

/*轮播图里的索引标签*/
.jd_banner .banner_index{
    position: absolute;
    bottom: 10px;
    /*小圆点们居中，*/
    left: 50%;
    margin-left: -44px;
}

.jd_banner .banner_index li{
    /*	元素向右浮动。*/
    float: left;
    width: 6px;
    height: 6px;
    /*border-radius 以百分比定义圆角的形状。*/
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    /* solid	定义实线。*/
    border: 1px solid white;
    /*小圆点们均匀散开*/
    margin-left: 5px;
}

/*如果li标签有.current class 会使用如下样式*/
.jd_banner .banner_index li.current{
    background-color: white;
}
/**导航 */
.jd_nav{
    width: 100%;
    border-bottom:1px solid #ccc;
    /*整体背景颜色是灰色，边框用深灰色*/
    background-color: white;
}

.jd_nav ul{
    width: 100%;
    /*把内容压下来*/
    padding-top: 5px;
}
.jd_nav ul li{
    float: left;
    width: 25%;
}
.jd_nav ul li a{
    width: 100%;
    display: block;
}
.jd_nav ul li a img{
    /*图片不能太大，然后要剧中*/
    width: 50%;
    display: block;
    margin: 0 auto;
}
.jd_nav ul li a p{
    color: gray;
    text-align: center;
    padding: 5px 0px;
}

/*设置首页主要内容的样式*/
.jd_main{
    width: 100%;
    padding:0px 5px;
    margin-top: 10px;
}

.jd_main .main_content{
    width: 100%;
    background-color: white;
    min-height: 150px;
    margin-bottom: 5px;
    /*阴影*/
    -webkit-box-shadow: 0 0 2px gray;
    -moz-box-shadow: 0 0 2px gray;
    box-shadow: 0 0 2px gray;
}

.jd_main .main_content .content_top{
    height: 32px;
    width: 100%;
    /*内容顶部有边框*/
    border-bottom: 1px solid #ccc;
}

.jd_main .main_content .content_bottom{
    width: 100%;
}
/*内容区域的第一个盒子*/
/*:nth-child(n) 选择器匹配属于其父元素的第 N 个子元素，不论元素的类型。*/
.jd_main .main_content:nth-child(1){}
.jd_main .main_content:nth-child(1) .content_top{
    border-bottom: none;
}
/*第一个盒子上部各组件的样式*/
.jd_main .main_content:nth-child(1) .content_top span{
    background-image: url('../images/seckill-icon.png');
    -webkit-background-size: 20px 25px;
    background-size: 20px 25px;
    float: left;
    width: 20px;
    height: 25px;
    margin-top: 3.5px;
    margin-left: 3.5px;
}
.jd_main .main_content:nth-child(1) .content_top p{
    color: rgb(201,21,35);
    margin-left: 5px;
    line-height: 32px;
    float: left;
}
.jd_main .main_content:nth-child(1) .content_top ul{
    height: 32px;
    padding-top: 8.5px;
}
.jd_main .main_content:nth-child(1) .content_top ul li{
    /*变成横排*/
    float: left;
    background-color: black;
    height: 15px;
    width: 15px;
    color: white;
    margin-left: 3px;
    text-align: center;
    line-height: 15px;
}

/*这样可以取到第三个、第六个*/
.jd_main .main_content:nth-child(1) .content_top ul li:nth-child(3n){
    background-color: transparent;
    color: black;
}
/*更多的样式*/
.jd_main .main_content:nth-child(1) .content_top a{
    color: gray;
    line-height: 32px;
    margin-right: 5px;
}

.jd_main .main_content:nth-child(1) .content_bottom{
    width: 100%;
}

.jd_main .main_content:nth-child(1) .content_bottom ul{
    width: 100%;
}
.jd_main .main_content:nth-child(1) .content_bottom ul li{
    float: left;
    /*为了保证零头不影响布局，若父盒子像素太大，则肉眼能看出*/
    width:33.333333333%;
}
.jd_main .main_content:nth-child(1) .content_bottom ul li a{
    display: block;
    width: 100% ;
    border-right: 1px solid gray;
}
/*最后一个li标签里面的a标签，不要里面的边框*/
.jd_main .main_content:nth-child(1) .content_bottom ul li:last-child a{
    border-right: none;
}
.jd_main .main_content:nth-child(1) .content_bottom ul li a img{
    display: block;
    width: 60%;
    margin: 0 auto;
}
/*a标签和p标签是平级的，所以a标签的索引值是1，p是从二开始的*/
.jd_main .main_content:nth-child(1) .content_bottom ul li p{
    text-align: center;
    padding: 3px 0;
    font-size: 12px;
}
.jd_main .main_content:nth-child(1) .content_bottom ul li p:nth-child(2){
    color: rgb(201,21,35);
}
.jd_main .main_content:nth-child(1) .content_bottom ul li p:nth-child(3) {
    color: black;
    text-decoration: line-through;
}

/*为除了第一个的其他主要区域盒子设置样式*/
.jd_main .main_content:nth-child(n+2) .content_top{}
.jd_main .main_content:nth-child(n+2) .content_top span{
    color:rgb(201,21,35);
    line-height: 32px; /*上下居中*/
    margin-left: 15px;/*距离左边有一段间距*/
    position: relative;
}
.jd_main .main_content:nth-child(n+2) .content_top span::before{
    content: '';
    position: absolute;

    /*宽高*/
    height: 15px;
    width: 5px;
    background-color:rgb(201,21,35);
    left: -10px;
    top: 8.5px;
}
/*设置除了秒杀区域的主要内容的底部样式*/
.jd_main .main_content:nth-child(n+2) .content_bottom{
    width: 100%;

}
.jd_main .main_content:nth-child(n+2) .content_bottom ul{
    width: 100%;
}
.jd_main .main_content:nth-child(n+2) .content_bottom ul li{
    width: 50%;
}
.jd_main .main_content:nth-child(n+2) .content_bottom ul li a{
    width: 100%;
    display: block;
}
.jd_main .main_content:nth-child(n+2) .content_bottom ul li a img{
    width: 100%;
    display: block;
}